Мастера:  {{ quantity }}<br>
{% set num = 1 %}
<table>
{% for row in masters %}
    <tr>
        <td>{{ num }}.</td>
        <td>{{ row.last_name }} {{ row.first_name }}</td>
        <td>
            <form action="/master/{{ row.id }}" method="post">
                <input type="hidden" name="_METHOD" value="DELETE">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    {% set num = num + 1 %}
{% endfor %}
</table>